@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
	padding:0px;
    	background-image: url(http://cdn.eso.org/images/screen/eso0932a.jpg);
    	background-size: 100%;
}

#capcalera{
	background: black;
	height: 80px;
	
	width: 100%; 
	left: 0; 
	top: 0; 
    position: fixed;
}

    
.hu{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12pt;
    padding-left: 450px;
    padding-top: 20px;
    color: white;
    
}

p{
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12pt;
    padding-left: 50px;
    padding-top: 10px;
    color: white;
    
}

p1{
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12pt;
    padding-left: 40%;
    padding-top: 30px;
    color:white;
    
}



.ho{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#header{
    margin: auto;
    float: right;
    font-size: 15px;
  }

ul, ol{
    list-style: none;
    text-decoration: none;
    color: black;
    float: right;
    padding: 0px;
    background: none;
}

.nav li a {
        background: NONE;
        display: block;
        text-decoration: none;
        color: BLACK;
        padding: 10px 15px;
        padding-right: 20px;
        padding-top: 15px;
        font-family:calibri;
    font-size: 15pt;
        font-family: 'Julius Sans One', sans-serif;
    color:white;
    
}

.nav >li{
	float: left;
    background: none;
	color:balck;
}

.nav li a:hover{
    background-color: #dcdcdc;
    
}
	
.nav li ul {
    display:none;
    position: absolute;
    min-width: 70px;
    
}

.nav li:hover >ul{
    display:block;
    
}    




.tq {
	width: 100%;
	margin: auto;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 200px;
    word-wrap:break-word;
}


.an {
	font-size: 50px;
	margin: 100px 0 0;

}

.an span {
	display: inline-block;
}



.an span:nth-of-type(2) {
	animation-delay: .05s;
}
.an span:nth-of-type(3) {
	animation-delay: .1s;
}
.an span:nth-of-type(4) {
	animation-delay: .15s;
}
.an span:nth-of-type(5) {
	animation-delay: .2s;
}
.an span:nth-of-type(6) {
	animation-delay: .25s;
}
.an span:nth-of-type(7) {
	animation-delay: .3s;
}
.an span:nth-of-type(8) {
	animation-delay: .35s;
}
.an span:nth-of-type(9) {
	animation-delay: .4s;
}
.an span:nth-of-type(10) {
	animation-delay: .45s;
}
.an span:nth-of-type(11) {
	animation-delay: .5s;
}
.an span:nth-of-type(12) {
	animation-delay: .55s;
}
.an span:nth-of-type(13) {
	animation-delay: .6s;
}
.an span:nth-of-type(14) {
	animation-delay: .65s;
}
.an span:nth-of-type(15) {
	animation-delay: .7s;
}
.an span:nth-of-type(16) {
	animation-delay: .75s;
}
.an span:nth-of-type(17) {
	animation-delay: .8s;
}
.an span:nth-of-type(18) {
	animation-delay: .85s;
}
.an span:nth-of-type(19) {
	animation-delay: .9s;
}
.an span:nth-of-type(20) {
	animation-delay: .95s;
}

.an span:nth-of-type(21) {
	animation-delay: 1.00s;
}

.an span:nth-of-type(22) {
	animation-delay: 1.05s;
}


.p span {
	color: white;
    font-size: 90pt;
    text-align: center;
    padding-top: 120px;
    line-height: 35px;
    font-family: 'Julius Sans One', sans-serif;
	opacity: 0;
	transform: translate(-110px, -20px) rotate(10deg) scale(0,5);
	animation: revolveScale .2s forwards;
}

@keyframes revolveScale {
	60% {
		transform: translate(10px, 10px) rotate(1deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}






